[mysqld]
# GENERAL
datadir				= /mnt/exhdd/mysql
socket				= /var/run/mysqld/mysqld.sock
pid_file			= /var/run/mysqld/mysqld.pid
user				= mysql
port				= 3306
default_storage_engine		= InnoDB
# INNODB
innodb_buffer_pool_size		= 128M
innodb_log_file_size		= 48M
innodb_file_per_table		= 1
innodb_flush_method		= O_DIRECT
innodb_fast_shutdown		= 0
# MyISAM
key_buffer_size			= 8M
# LOGGING
log_error			= /var/log/mysql/error.log
slow_query_log_file		= /var/log/mysql/slow.log
# OTHER
tmp_table_size			= 16M
max_heap_table_size		= 16M
query_cache_type		= 0
query_cache_size		= 0
max_connections			= 151
thread_cache_size		= 12
open_files_limit		= 65535
# SLOW QUERY LOG
long_query_time			= 1
slow_query_log			= 1
# PREFERENCE
character-set-client-handshake	= FALSE
character-set-server		= utf8
collation-server		= utf8_general_ci
skip-host-cache
skip-name-resolve
skip-grant-tables
bind-address			= 127.0.0.1
wait_timeout			= 31536000
max_allowed_packet		= 8M
# CENTOS
explicit_defaults_for_timestamp	= 1

[client]
# GENERAL
socket				= /var/run/mysqld/mysqld.sock
port				= 3306
# PREFERENCE
default-character-set		= utf8
